<h3>以下の内容を、送信する</h3>

<%= form_with(model: @picture) do |form| %>
  <%= form.hidden_field :image %>
  <%= form.hidden_field :content %>

  <p>写真:<%= @picture.image %></p>
  <p>説明文:<%= @picture.content %></p>
  <%= form.submit "投稿する" %>
<% end %>